IMAP_HOST=example.com
IMAP_DOMAIN=example.com
IMAP_USERNAME=foo@example.com
IMAP_PASSWORD=password
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/0000000000000000000/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX